.containerstart{
    margin-top: 3%;
}
.rowheader{
    border-top: 1px solid #d8d6d6;
    background-color:#FAFAFA;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bold;
}

.highlightflex{
    color: red;
    font-weight: bold;
}

.historytitle{
    font-weight: bold;
    font-size: large;
}

.time {
    color: rgb(186,186,186)
}

.cont1 {
    float: left;
}

.clearBoth{
    clear: both;
    color: rgb(186,186,186)
}

.iconpadding{
    padding-top: 13%;
}